<% include ../partials/head %>

  <% include ../partials/header %>

  <form action="/search" class="search__form" method="POST">
    <label for="query">Fill in your location</label><!--
    --><input name="query" id="query" type="text" placeholder="Use current location"><!--
    --><button id="submit" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15.9" height="15.9" viewBox="0 0 15.9 15.9">
        <defs>
          <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#ff5858"/>
            <stop offset="1" stop-color="#f09819"/>
          </linearGradient>
        </defs>
        <path id="Path_99" data-name="Path 99" d="M15.9,14.5l-3.3-3.3A6.847,6.847,0,0,0,14,7,6.957,6.957,0,0,0,7,0,6.957,6.957,0,0,0,0,7a6.957,6.957,0,0,0,7,7,6.847,6.847,0,0,0,4.2-1.4l3.3,3.3ZM2,7A4.951,4.951,0,0,1,7,2a4.951,4.951,0,0,1,5,5,4.951,4.951,0,0,1-5,5A4.951,4.951,0,0,1,2,7Z" fill="url(#linear-gradient)"/>
      </svg>
    </button>
    <div class="loader">
      <% include ../partials/loader %>
    </div>
  </form>
  <div class="result">
    <% if (query) { %>
      <div>From <%= query %>:</div>
    <% } %>

    <% if (steps) { %>
      <ol>
        <% steps.forEach((step)=> { %>
          <li><%= step.mod %> <%= step.type %>: <%= step.instruction %> in <%= step.distance %>m</li>
        <% }) %>
      </ol>
    <% } %>
  </div>

<% include ../partials/footer %>
